// vim: fdm=marker

configuration {
  modes: "window,drun,run,ssh";
  font: "CaskaydiaCoveNF 18";
  drun-display-format: "{name}";
  drun-match-fields: "name,generic";
}

* {
  // general
  bg: #282828;
  bgt: #0d101795;
  t: transparent;
  fg: #dddfe3;
  font: @font;

  selected-bg: #fe8019;
  selected-fg: @bg;

  // for windows
  active: #dddfe3;
  urgent: #fb4934;
}

window {
  fullscreen: true;
  padding: 35% 30%;       // you might want to ajust these to resize rofi.
  transparency: "real";
  background-color: @bgt;
  border-color: @t;
}

listview {
  border: 0 0 0 0;
  padding: 23 0 0;
  scrollbar: true;
}

scrollbar {
    width:        4px;
    border:       0;
    handle-color: @fg;
    handle-width: 8px;
    padding:      0 5;
}

entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

// less interesting stuff {{{

// using elements from:
// https://github.com/bardisty/gruvbox-rofi/blob/master/gruvbox-common.rasi

textbox {
    text-color: @fg;
}

element {
    border:  0;
    padding: 2px;
}
element.normal.normal {
    background-color: @t;
    text-color:       @fg;
}
element.normal.urgent {
    background-color: @t;
    text-color:       @urgent;
}
element.normal.active {
    background-color: @t;
    text-color:       @active;
}
element.selected.normal {
    background-color: @selected-bg;
    text-color:       @selected-fg;
}
element.selected.urgent {
    background-color: @selected-bg;
    text-color:       @urgent;
}
element.selected.active {
    background-color: @selected-bg;
    text-color:       @selected-fg;
}
element.alternate.normal {
    background-color: @t;
    text-color:       @fg;
}
element.alternate.urgent {
    background-color: @t;
    text-color:       @urgent;
}
element.alternate.active {
    background-color: @t;
    text-color:       @active;
}

sidebar {
    border:       2px 0 0;
    border-color: @fg;
}

inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     15px;
    border-radius:               10px;
    children:                    [ "textbox-prompt-colon", "entry" ];
}
textbox-prompt-colon {
    text-color:                  @fg;
    enabled:                     true;
    font: "CaskaydiaCoveNF 18";
    expand:                      false;
    str:                         " ";
}
entry {
    enabled:                     true;
    cursor:                      text;
    placeholder:                 "Search";
}

case-indicator,
entry,
button {
    spacing:    0;
    text-color: @fg;
}

button.selected {
    background-color: @bg;
    text-color:       @fg;
}

prompt {
    expand:                      false;
    str:                         "";
    background-color:            inherit;
    text-color:                  inherit;
}

textbox-prompt-sep {
    expand:     false;
    str:        ":";
    text-color: @fg;
    margin:     0 0.3em 0 0;
}
// }}}
