[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = https://github.com/pbaekgaard/kickstart.nvim
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/pbaekgaard/wallpapers
