include "./noctalia.kdl"
include "./environment.kdl"
include "./keybinds.kdl"
include "./input.kdl"
include "./monitors.kdl"
include "./windowrules.kdl"
include "./animations.kdl"
include "./lookandfeel.kdl"
include "./autostart.kdl"
